.cusLine2 {
    height: 6px;
    width: 43px;
    background-color: navy;
    align-content: center;
}
.cusLine {
    height: 70px;
    width: 8px;
    background-color: navy;
    display: inline-block;
}
 
.cusLineImg {
    height: 15rem;
    width: 4rem;
    background-color: navy;
    display: inline-block;
    margin-bottom: -13px;
    margin-right: 5px;
    z-index: -5;
    left: 3rem;
    bottom: 1rem;
    position: relative;
}
 
.cusTitle {
    font-size: xxx-large;
    color: #111110;
    font-weight: 700;
    text-align: center;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
.cusBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgb(0 0 0);
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
}
 
.customer1 {
    height: 12rem;
    width: 9rem;
}
 
.swapbutton {
    width: 4rem;
    height: 4rem;
    background-color: navy;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin: 2rem;
    margin-top:6rem;
}
 
.swapbutton:hover {
    background-color: rgb(95, 95, 243);
}
