body {
    margin:0;
}
h2 {
margin:0;
font-size:42px;
font-weight:bolder;
}
h3 {
margin:0;
font-size:32px;
font-weight:normal;
}
/* main */

.sectionWCU {
    width:100vw;
    height:340px;
    background-color:rgb(15, 35, 127);
}
.sectionflex {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    text-align:center;
    color:white;
    margin-bottom:35px;
}
.buttonWCU {
    margin-left:46%;
    text-align:center;
    font-size:16px;
    padding:10px 50px;
    border-radius:30px;
    background-color:white;
    color:black;
}

.iconsWCU {
    font-size:60px;
    color:white;
}
/* main */

/* footer */
footer {
    width: 100vw;
    height: 255px;
    background-color: rgb(15, 35, 127);
    color: white;
    margin: auto;

}

h4 {
    font-size: 24px;
    margin-bottom: 8px
}

p {
    font-size: 16px;
}

.inline {
    display: inline;
}

.pushleft {
    padding-left: 13px;
}

.pushdown {
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.Fparent {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px 325px;
}

.Fchildren1 {
    min-width: 200px;
    height: 157px;
    max-height: 157px
}

.pushrightChild {
    margin-right: 20px;
}

.Fchildren2 {
    height: 157px;
    max-height: 157px;
    width: 125px;
}

.Ftoddler1 {
    margin-bottom: 15px;
}

.Ftoddler2 {
    text-align: justify;
}

.Ftoddler3 {
    text-align: justify;
}

.FooterEmail {
    border-radius: 0;
    border-color: white;
    border-style: dotted;
    border-width: 0px;
    padding: 7px;
    margin-bottom: 7px;
}

.FooterButton {
    margin: 0;
    border-radius: 0;
    color: white;
    background-color: #F4720E;
    padding: 7px 15px;
    display: block;
    border-width: 0;
    transition: ease-in-out 0.2s
}

.FooterButton:hover {
    cursor: pointer;
    background-color: #ed5407;

}

.FooterButton:active {
    background-color: red;
    cursor: default
}

.iconholder {
    margin-top: 20px;
}

.icons {
    font-size: 20px;
    color: white;
    transition: ease-in-out 0.2s
}

.icons:hover {
    cursor: pointer;
    color: #ed5407;
}

.icons:active {
    color: #fc4c00;
}

.iconmarge {
    padding-left: 15px;
}

.line {
    margin-top: 20px;
    width: 35%
}

/* footer elements */