/* Main */
main {
    width:100vw;
    

}

.sectionGIT {
    height:504px;
    background-color:rgb(15, 35, 127);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
article {
    width:704px
}
.articleIMG {
    width:704px;
    height:504px

}
aside {
    margin-top:45px;
    margin-left:30px;
    width:750px;
}
form {
    width:567px;
    height: 459px;
}
.inputGIT {
    border-radius:0px;
    color:black;
    width:550px;
    height:40px;
    display:inline;
    border:0;
    margin-bottom:20px;
    padding-left:15px
}

textarea {
    width:561px;
    max-width: 561px;
    min-width:561px;
    height:102px;
    max-height:102px;
    min-height:102px;
    margin-bottom: 30px;
}
.submit {
    color:white;
    background-color:#F4720E;
    border:0;
    border-radius:30px;
    font-size:20px;
    padding:15px 75px;
    margin-left:64.5%;
    transition:ease-in-out 0.2s;
}
.submit:hover {
    background-color:#ed5407
}
.submit:active {
    background-color:red
}

/* Main */

/* footer elements */
body {
    margin: 0
}

footer {
    width: 100vw;
    height: 255px;
    background-color: rgb(15, 35, 127);
    color: white;
    margin: auto;

}

h4 {
    font-size: 24px;
    margin-bottom: 8px
}

p {
    font-size: 16px;
}

.inline {
    display: inline;
}

.pushleft {
    padding-left: 13px;
}

.pushdown {
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.Fparent {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px 325px;
    flex-wrap:wrap;
}

.Fchildren1 {
    min-width: 200px;
    height: 157px;
    max-height: 157px
}

.pushrightChild {
    margin-right: 20px;
}

.Fchildren2 {
    height: 157px;
    max-height: 157px;
    width: 125px;
}

.Ftoddler1 {
    margin-bottom: 15px;
}

.Ftoddler2 {
    text-align: justify;
}

.Ftoddler3 {
    text-align: justify;
}

.FooterEmail {
    border-radius: 0;
    border-color: white;
    border-style: dotted;
    border-width: 0px;
    padding: 7px;
    margin-bottom: 7px;
}

.FooterButton {
    margin: 0;
    border-radius: 0;
    color: white;
    background-color: #F4720E;
    padding: 7px 15px;
    display: block;
    border-width: 0;
    transition: ease-in-out 0.2s
}

.FooterButton:hover {
    cursor: pointer;
    background-color: #ed5407;

}

.FooterButton:active {
    background-color: red;
    cursor: default
}

.iconholder {
    margin-top: 20px;
}

.icons {
    font-size: 20px;
    color: white;
    transition: ease-in-out 0.2s
}

.icons:hover {
    cursor: pointer;
    color: #ed5407;
}

.icons:active {
    color: #fc4c00;
}

.iconmarge {
    padding-left: 15px;
}

.line {
    margin-top: 20px;
    width: 35%
}

/* footer elements */
