body {
    margin: 0;
}

/* Main */
main {
    width: 100vw;


}

.sectionGIT {
    height: 504px;
    background-color: rgb(15, 35, 127);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 704px;
    height: 504px;
}

.articleIMG {
    width: 704px;
    height: 504px
}

aside {
    margin-top: 45px;
    margin-left: 30px;
    width: 600px;
}

form {
    width: 567px;
    height: 459px;
}

.inputGIT {
    border-radius: 0px;
    color: black;
    width: 550px;
    height: 40px;
    display: inline;
    border: 0;
    margin-bottom: 20px;
    padding-left: 15px
}

textarea {
    width: 561px;
    max-width: 561px;
    min-width: 561px;
    height: 102px;
    max-height: 102px;
    min-height: 102px;
    margin-bottom: 30px;
}

.submit {
    color: white;
    background-color: #F4720E;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 75px;
    margin-left: 64.5%;
    transition: ease-in-out 0.2s;
}

.submit:hover {
    background-color: #ed5407
}

.submit:active {
    background-color: red
}

.titleflexGIT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineGIT {
    height: 40px;
    background-color: rgb(15, 35, 127);
    display: inline-block;
    width: 8px;
    margin-right: 5px;
}

.cusLine2 {
    height: 6px;
    width: 43px;
    background-color: rgb(15, 35, 127);
    align-content: center;
}
.cusLine {
    height: 70px;
    width: 8px;
    background-color: rgb(15, 35, 127);
    display: inline-block;
}
 
.cusLineImg {
    height: 15rem;
    width: 4rem;
    background-color: rgb(15, 35, 127);
    display: inline-block;
    margin-bottom: -13px;
    margin-right: 5px;
    z-index: -5;
    left: 3rem;
    bottom: 1rem;
    position: relative;
}
 
.cusTitle {
    font-size: xxx-large;
    color: #111110;
    font-weight: 700;
    text-align: center;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
.cusBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgb(0 0 0);
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
}
 
.customer1 {
    height: 12rem;
    width: 9rem;
}
.customertext {
    font-size: 1.7rem;
    margin-top: -1rem;
    text-align: left;
     width: 48rem;
}
 
.textcontainer {
    width:55rem;
}

.swapbutton {
    width: 4rem;
    height: 4rem;
    background-color: navy;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    margin: 1rem;
    margin-top: 5rem;
}
 
.swapbutton:hover {
background-color: rgb(72, 72, 247);
}
/* Main */

/* footer */
footer {
    width: 100vw;
    height: 255px;
    background-color: rgb(15, 35, 127);
    color: white;
    margin: auto;
    padding: 2rem;
}

h4 {
    font-size: 24px;
    margin-bottom: 8px
}

p {
    font-size: 16px;
width: 108%;
}

.inline {
    display: inline;
}

.pushleft {
    padding-left: 13px;
}

.pushdown {
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.Fparent {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: center;
    margin: 0px 325px;
}

.Fchildren1 {
    min-width: 200px;
    height: 157px;
    max-height: 157px;
}

.pushrightChild {
    margin-right: 20px;
}

.Fchildren2 {
    height: 157px;
    max-height: 157px;
    width: 125px;
}

.Ftoddler1 {
    margin-bottom: 15px;
}

.Ftoddler2 {
    text-align: justify;
}

.Ftoddler3 {
    text-align: justify;
}

.FooterEmail {
    border-radius: 0;
    border-color: white;
    border-style: dotted;
    border-width: 0px;
    padding: 7px;
    margin-bottom: 7px;
}

.FooterButton {
    margin: 0;
    border-radius: 0;
    color: white;
    background-color: #F4720E;
    padding: 7px 15px;
    display: block;
    border-width: 0;
    transition: ease-in-out 0.2s
}

.FooterButton:hover {
    cursor: pointer;
    background-color: #ed5407;

}

.FooterButton:active {
    background-color: red;
    cursor: default
}

.iconholder {
    margin-top: 20px;
}

.icons {
    font-size: 20px;
    color: white;
    transition: ease-in-out 0.2s
}

.icons:hover {
    cursor: pointer;
    color: #ed5407;
}

.icons:active {
    color: #fc4c00;
}

.iconmarge {
    padding-left: 15px;
}

.line {
    margin-top: 20px;
    width: 35%;
}

/* footer elements */
@media (max-width:1440px) {

    /* footer */
    .Fparent {
        margin: 0;
    }

    .line {
        width: 45%;
    }

    /* footer */

    /* main */
    aside {
        width: 600px;
        margin-left: 0;
    }

    .sectionGIT {
        height: 940px;
    }

    form {
        margin: auto;
    }

    .cusLineImg {
        height:10rem;
        width:2rem;
        left:2rem;
    }
    .customer1 {
        height:10rem;
        width:7rem;
    }
    .customertext {
        width:26rem;
        font-size:1rem;
    }
    .textcontainer {
        width:26rem;
    }
    .cusBox {
        max-width:760px;
    }
    .swapbutton {
        margin:0;
        margin-top:5rem;
    }
    /* main */
}

@media (max-width:780px) {

    /* footer */

    footer {
        height: 720px
    }

    .Fparent {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .Fchildren1 {
        width: 100%;
        text-align: center;
    }

    .Fchildren2 {
        width: 100%;
        text-align: center;
    }

    .Fchildren3 {
        width: 100%;
        text-align: center;
    }

    .FooterButton {
        margin-left: auto;
        margin-right: auto;
    }

    .pushrightChild {
        margin-right: 0;
    }

    .media1 {
        text-align: center;
    }

    .line {
        width: 55%;
    }

    /* footer */

     /* main */
    .inputGIT {
        width: 500px;
    }

    textarea {
        width: 511px;
        max-width: 511px;
        min-width: 511px;
    }

    article {
        width: 504px;
        height: 304px;
    }

    .articleIMG {
        width: 504px;
        height: 364px
    }

    .submit {
        margin-left: 30%;
    }

    form {
        width: 100vw;
    }

    h3 {
        font-size:0.55em;
    }
    .cusLine {
        height:50px
    }
    .customer1 {
        height:7rem;
        width:5rem;
    }
    .cusLineImg {
        height:7rem;
        left:1rem;
    }
    .swapbutton {
        width:3rem;
        height:3rem;
        font-size:2rem;
    }
    /* main */

    @media (max-width:689px) {
        .inputGIT {
        width:410px;
    }
    textarea {
        width: 421px;
        max-width: 421px;
        min-width: 421px;
    }
    .articleIMG {
        width:430px;
        height:384px;
    }
    .cusBox {
        padding:0.8rem;
    }
    .customertext {
        width:14rem;
        font-size:0.8rem;
    }
    .textcontainer {
        width:14rem;
    }
    .swapbutton {
        width:2rem;
        height:2rem;
        font-size:1.5rem;
    }
    .cusLineImg {
        height:8rem;
        width:1.5rem;
        left:1rem;
    }
    .cusBox {
        max-width:430px;
    }
    }
}